<div class="container">
    <h1>Classement des communautés</h1>
    <br/>
    <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Le score réalisé par une communauté est la moyenne des points de ses membres.</div>

    <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign"></span> NEW : pour <b>le classement global</b>, les parieurs ayant rejoint une communauté en phase finale, ou ayant abandonné à l'issu de la phase de poule ne sont comptabilisés dans le calcul des points de la dite communauté.</div>


    <div class="alert alert-success" role="alert">
            Faites votre choix :
            <div class="btn-group" role="group" aria-label="...">
                <button id="btn-groupe" type="button" class="btn btn-success" ng-click="getCommunitiesRanking('GROUPE');">Classement des poules</button>
                <button id="btn-final" type="button" class="btn btn-success active" ng-click="getCommunitiesRanking('FINAL');">Classement de la phase finale</button>
                <button id="btn-all" type="button" class="btn btn-success" ng-click="getCommunitiesRanking('ALL');">Classement global</button>
            </div>
        </div>

        <div ng-init="getCommunitiesRanking('FINAL')">

            <center><span id="spin_communities_ranking"><img src="static/img/spin.gif"></span></center>

            <center><div id="plotly_pie" style="display:none"></center>

        </div>

</div>

<div ng-include src="'static/js/piwik.js'"></div>