<div class="jumbotron">
  <div class="container">
    <h1>Connexion</h1>
    <div class="row">
        <form name="thelogin" ng-submit="login()" required>
          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" id="email" name="nom" ng-model="email"
              placeholder="Votre email" value="" required="required">
          </div>
          <div class="form-group">
            <label for="thepwd" class="control-label">Mot de passe</label>
            <input type="password" class="form-control" id="thepwd" name="thepwd" ng-model="thepwd"
                  placeholder="Votre mot de passe" value="" required="required">
          </div>
          <button type="submit" id="submit" name="submit" value="Sign in"
            class="btn btn-primary btn-lg">Connectez-vous !</button>
          <a class="btn" href="#accueil">Retour</a>
        </form>
        <br/>
        <br/>
        <a class="btn btn-default" href="#signon">Pas encore de compte ?</a>
    </div>
  </div>
 </div>

<div ng-include src="'static/js/piwik.js'"></div>